*{
    margin:0;
    box-sizing: border-box;
    padding: 0;

}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width:74%;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    align-items: center;

}
.logo h2{
    font-size: 45px;
    font-weight: 800px;
}
.color-change{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:50px;
    /* font-size: 20px; */
    align-items: center;
    
}
nav .btn{
    border: none;
    background-color: #FD6E0A;
    height: 65px;
    width: 150px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600px;
    color: white;
}
.btn:hover{
    background-color: black;
}
nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}