*{
    margin:0;
    box-sizing: border-box;
    padding: 0;

}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFF8F3;
    background: url("../images\ copy/developer.png"),url("../images\ copy/header_bg.png"), #f1d1baee;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    /* margin-top: 20px; */

    padding-top: 50px;
}
nav{
    width:74%;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    max-width:1140px;
    /* max-height: 837px; */
    align-items: center;

}
.logo h2{
    font-size: 45px;
    font-weight: 800;
}
.color-change{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:50px;
    /* font-size: 20px; */
    align-items: center;
    
}
 .btn{
    border: none;
    background-color: #FD6E0A;
    height: 65px;
    width: 150px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.btn:hover{
    background-color: black;
}
nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
#banner{
    display:flex;
    /* border: 1px solid red; */
    margin:47px 38px 0px 230px;
    /* width: 1332px; */
    /* height: 676px; */
    justify-content: space-between;
    align-items: center;
    /* padding-top: 50px; */

}
#banner .banner-content{
    max-width: 585px;
    /* padding-top: 10px; */
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: 800;
    color: #FD6E0A;
    margin-bottom: 20px;
    /* width: 585px; */
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
/* .banner-image{ */
   
    /* justify-content: flex-end; */
/* } */
#banner .banner-image img{
    max-width: 584px;
    /* max-height: 900px; */
    /* width: 100%; */
    /* height: auto; */
    /* display: block; */
    vertical-align: top;
}
#about {
    padding-top: 130px;
    
}
#about .about-container{
    width: 74%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color:#f0c6a9c4;
    padding: 131px 157px;
}

.section-header{
    max-width: 827px;
    text-align: center;
}
.section-header h2{
    font-size: 35px;
    font-weight: 800;
    color: #181818;
    margin-bottom: 30px;
}

 .section-header p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .card-info p{
    color: #757575;
    font-size: 18px;
    /* color: #757575; */
    /* margin-bottom: 30px; */
    line-height: 30px;
}
.about-info .card-info h4{
    color: #181818;
    font-weight: 800;
    font-size: 18px;
    /* color: #757575; */
    /* margin-bottom: 30px; */
    /* line-height: 30px; */
}
.about-info .card-info h4:hover{
    background-color: bisque;
}

/* 3rd page */
#skills{
    padding-top:130px;
}

#skills .skills-container{
    width: 74%;
    max-width: 1140px;
    margin: 0 auto;
    /* text-align: center; */
    /* background-color:#f3ece8f8; */
    padding: 131px ;
} 
#skills .skills-container .about-skills{ 
    display: flex;
     /* justify-content: space-between;  */
    gap: 24px;
}
#skills .skills-container .about-skills .skills-info{
    /* border: 1px solid red; */
    max-width: 267px;
    padding: 30px;
    background-color: #FFF8F3;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 #00000032;

}
.skills-info img{
    max-width: 44px;
    margin-bottom: 30px;
 } 
 .skills-info h4{
    color: #181818;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
 }
 .skills-info p{
    font-size: 16px;
    line-height: 28px;
     color: #757575;
    margin-bottom: 30px;

 }

 /* resume */
 #resume .section-header {
    /*text-align: center; */
    margin: 0 auto;
    padding-top: 130px;
    /* margin-bottom: 113px; */
 }
 #resume .resume-container{
     width: 74%;
     max-width: 1140px;
     margin: 113px auto 0;
     display: flex;
     gap: 24px;
    /* justify-content: space-around; */
 }
 .resume-container  .title{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #474747;
 }
 .resume-container .card-title{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #474747;
 }
 .resume-container .uni-name{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #474747;
 }
 .resume-container .details{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 60px;
    color: #474747;
 }
 .resume-container .education .resume-card{
    background-color: #ffede1;
    border-radius: 5px;
    box-shadow:0 6px 50px 0 #00000032;
    /* padding: 10px; */
    max-width: 511px;
    margin-right: 47px;
 }
 .resume-container .card-title,.uni-name,.details{
    padding: 10px;
 }
 .resume-container .experience .resume-card{
    background-color: #e1ffe1;
    border-radius: 5px;
    box-shadow:0 6px 50px 0 #00000032;
    max-width: 511px;
    margin-right: 47px;
 }
#resume .btn{
    width: 200px;
    /* margin: 0 auto; */
    align-items: center;
}